html, body {
    height: 100%;
    margin: 0;
    font-family: "Libre Baskerville", serif;
    background-color: black;
    color: white;
}
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;    
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    img {
        max-width: 100%; 
        width: 100%;     
        max-width: 550px; 
        height: auto;  
        border: 5px solid white;
        margin-bottom: 30px;
        
        @media (max-width: 350px) {
            margin-bottom: 20px;
        }
    }
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: xx-large;
        margin: 0;
        margin-bottom: 10px;
        @media (max-width: 350px) {
            font-size: large;
        }
    }
    p {
        text-align: center;
        font-size: medium;
        margin: 0;
        @media (max-width: 350px) {
            font-size: x-small;
        }
    }
}